/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-xs{
    font-size: 0.9em;
    line-height: 0;
    width:6%;
}
body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*********** HEADER **************/

header{
    display:flex;
    justify-content: space-between;
    margin-bottom:80px;
}
header ul, header li{
list-style:none;
margin-right: 55px;
max-height: 100%;
padding-top: 15px;
}

 header ul{
    display:flex;
    position:absolute;    /*Eviter decalage avec le hover*/ 
    justify-content:space-between;
    right:-10px;
    width:200px;
    margin-top:-10px;
    padding-top:12px;
}
header li,a {
    font-family: 'Raleway', sans-serif;
    letter-spacing:0.5px ;

}


header li:hover{
    transition:0.5s;
    color:#0065FC;
    border-top: 1.5px #0065FC solid;
    
}

.logo img{
    margin-top: 20px;
    width:70px;
    height:23px;
    
}
.menu{
    position:relative;
    height: 100%;
}


/*********** MAIN **************/
.accroche{
    margin-bottom: 45px;
}

.accroche h2{
    margin-bottom: 0;
}

.accroche p{
    margin-top:10px;
}
/********** BARRE DE RECHERCHE ***********/

.Rechercher{
    height: 100px;
    width:600px;
    margin-bottom: 15px;
}

#ville::placeholder{
    display: flex;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size:1.2em;
    color:black;
}
form{
    height:60px;
    display: flex;
    width: 100%;

}
.fa-location-dot{
    color:black;
    display: flex;
    justify-content: center;
}

#ville{
    border-top:1px #F2F2F2 solid;
    border-bottom:1px #F2F2F2 solid;
    border-left: 0px;
    border-right: 0px;
    width:200px;
}
i{
    
    background-color: #F2F2F2;
    width:50px;
    border-radius: 15px 0 0 15px;
    align-items: center;
}
 button{
    background-color: #0065FC;
    font-weight: 700;
    cursor:pointer;
    border: 1px #0065FC;
 }
.Recherche{
    color: #F2F2F2;
    font-family: 'Raleway',sans-serif;
    font-size:1.1em;
    width:130px;
    border-radius: 0px 15px 15px 0px;
    
}

.loupe{
    z-index: -1;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    visibility: hidden;
}

.fa-magnifying-glass{
    font-size: 25px;
    background-color: #0065FC;
    color:#F2F2F2;
}
/*************  FILTRES ***********/


.filtres {
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 800px;
    margin-bottom: 20px;
}

.romantique, .economique, .pepites, .familiale {
    border-radius: 25px;
    border: #F2F2F2 2px solid;
    display: flex;
    align-items: center;
    width: 170px;
    height: 45px;
    margin-left: 20px;
}

.familiale{
    width:130px;
}

.romantique svg, .economique svg, .pepites svg, .familiale svg {
    width: 25px;
    height: 22px;
    padding-left: 20px;
    padding-right: 10px;
}

.romantique:hover, .economique:hover, .pepites:hover, .familiale:hover{
background-color: #DEEBFF;
cursor: pointer;

}


/************ QUANTITE ***************/
.quantite{
    display:flex;
    align-items: center;
    padding-left:10px;
    margin-bottom: 20px;
}
.quantite p{
    padding-left: 25px;
}
.quantite svg{
    position: absolute;
}

.ellipse{
    left:283px;
}
/************ ****************/
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 70px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.hebergements-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card{
    display:flex;
    height: 210px;
    width:245px;
    margin-top: 30px;
    flex-direction: column;
}

.hebergements-cards img{
    height:120px;
    width:100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0;
}

.hebergements-cards .card-content{
    height:100px;
    padding-left: 15px;
}


.hebergements-cards .card-subtitle{
    margin: 0;
}

.hebergements-cards .card-title{
margin-top:10px;
margin-bottom: 5px;
}

.hebergements-cards .card-rating{
    padding-top: 10px;
}

.afficher{
    font-weight: 700;
    padding-top: 40px;
    letter-spacing: -0.25px;
}
/****************** Populaires *********************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*********************** ACTIVITES **************************/


.activites{
    height:500px;
    display:flex;
    flex-direction: column;
    margin-bottom: 120px;
}
.activites h2{
    padding-left: 45px;
    padding-bottom: 10px;
}

.activites-card .card{
    display:flex;
    flex-direction: column;
    width:23%;
    height:450px;
    padding:0;
}
.activites-card{
    display:flex;
    justify-content: space-around;
    width: 95%;
    padding-left: 30px;
}

.activites-card img{
    height:400px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites h3{
    padding-left: 15px;
}



/************************* FOOTER ************************/
footer{
    background-color: #F2F2F2;
}

footer h3{
    margin-bottom:0;
}
ul,li{
    list-style: none;
    padding:0;
}

.infos{
    display:flex;
    justify-content: space-between; 
}

.infos div{
    display:flex;
    flex-direction: column;
     width:300px;
     padding-left: 30px;
}

.infos li{
margin-bottom:20px;
}

.infos a{
    cursor: pointer;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}